@{ Layout = "_Layout"; }

<div class="container text-center text-gradient mt-5 mb-1">
    <h1>Арбитраж D1msolino</h1>
    <hr>
</div>


<main role="main">
    <div class="container">
        <p>
            Арбитраж несет материальную ответственность за разрешение споров в системе D1msoGarant в размере, двукратно превышающим сумму сделки. Таким образом, в случае какой-либо ошибки в разрешении спора, сервис обязуется компенсировать все убытки (как прямые, так и косвенные).
        </p>

            <br>
            <br>
            <h1 class="text-center">
                В каком случае требуется участие арбитража?
            </h1>

            <p>
                Участие арбитража может потребоваться в том случае, если участники сделки не могут разрешить спор самостоятельно, при этом баланс сделки должен быть отличен от нуля. В компетенцию арбитража входит вынесение решения о распределении средств сделки между её участниками.
            </p>
            <h1 class="text-center">
                Каким образом обратиться в арбитраж?

            </h1>

            <p>
                Любой из участников сделки может направить соответствующее обращение консультанту в правом нижнем углу сайта либо на почту d1msolino@gmail.com. Разбирательство начинается в чате сделки в течение 5 рабочих дней с момента обращения.
            </p>
        </div>
</main>




